{% extends 'base.html.twig' %}

{% trans_default_domain 'project' %}

{% block title %}{{ project.name }} - {% trans %}Add logo{% endtrans %}{% endblock %}

{% block body %}
   <div class="change-your-logo">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-8 change-logo-card">
               {% if project.logoName %}
                  {% set logo = vich_uploader_asset(project, 'logoFile') %}
                  <h2>{% trans %}Change the logo{% endtrans %}!</h2>
               {% else %}
                  {% set logo = '//placehold.it/300x300' %}
                  <h2>{% trans %}Add logo{% endtrans %}!</h2>
               {% endif %}
               <p>{% trans %}For your project{% endtrans %}: "{{ project.name }}"</p>
               <div class="">
                  <img src="{{ logo }}" alt="" class="logo mb-3" id="logo_project">
               </div>

               {{ form_start(form) }}
                  {{ form_widget(form) }}
                  <a href="{{ path('startuper_project_show', { id: project.id, slug: project.slug}) }}" class="btn btn-bg-blue btn-h40 btn-w15">
                     <i class="fas fa-times mr-2"></i> {% trans %}Cancel{% endtrans %}
                  </a>
                  <button class="btn btn-bg-red btn-h40 btn-w15" type="submit">
                     <i class="fas fa-check mr-2"></i> {% trans %}Change{% endtrans %}
                  </button>
               {{ form_end(form) }}
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block javascripts %}

   <script src="{{ asset('js/project_add_logo.js') }}"></script>

{% endblock %}