{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block stylesheets %}
    <style>
        .active {
            background-color: #bfd9ff;
            color: white !important;
        }
    </style>
{% endblock %}

{% trans_default_domain 'project' %}

{% block body %}

    <div class="dashboard-project">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 sidebar-project-menu">
                {% include 'startuper/dashboard/_menu.html.twig' %}
            </div>
            <div class="col-lg-9 sidebar-project-content">
{#                {% include 'startuper/dashboard/_head.html.twig' %}#}

                <div class="block-messagerie">
                    <div class="c-messagerie-heading">
                        <a href="{{ path('startuper_project_messages', { id: project.id, slug: project.slug}) }}" class="more">
                            {% trans %}Messages{% endtrans %}
                        </a>
                        <h5 class="h-project">{% trans %}Projet{% endtrans %}</h5>
                        <h1 class="h-title">
                            {{ message.project.name }}
                        </h1>
                         <h3>{{ message.object }}</h3>
                    </div>

                    <div class="msg-content">
                        <div class="row justify-content-start">
                            <div class="col-md-7 b-info-author ur-msg">
                                <div class="avatar-heading">
                                    {% set author = message.author %}
                                    <div class="avatar-user">
                                        <img src="{{ vich_uploader_asset(author, 'imageFile') }}" alt="" class="img-responsive">
                                    </div>
                                    <div class="avatar-details">
                                        <div class="c-author-name">{{ message.author.fullName }} </div>
                                        <div class="c-dtate-time">
                                            <ul>
                                                <li><i class="icon-calendar"></i> {{ message.createdAt|date('d/m/Y') }}</li>
                                                <li><i class="icon-clock"></i> {{ message.createdAt|date('H:i:s') }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="response-msg">
                                    {{ message.content }}
                                </div>
                            </div>
                        </div>
                     </div>

                    <div class="b-messageries-line">
                        {% for response in message.responses %}
                            {% set author = response.user.fullName  %}
                            {% set color = 'light'  %}
                            {% set class = 'justify-content-start'  %}
                            {% if app.user == response.user %}
                                {% set author = 'You'|trans %}
                                {% set color = 'response'  %}
                                {% set class = 'justify-content-end'  %}
                            {% endif %}
                            <div class="msg-content">
                                <div class="row {{ class }}">
                                    <div class="col-md-7">
{#                                        <div class="alert alert-{{ color }}">#}
                                        <div class="massage-field {{ color }}">
                                            
                                            {% set user = response.user %}
                                            <div class="avatar-user">
                                                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="" class="img-responsive">
                                            </div>
                                            <div class="avatar-details">
                                                <div class="c-author-name">{{ author }}</div>
                                                <div class="c-dtate-time">
                                                    <ul>
                                                        <li><i class="icon-calendar"></i> {{ response.createdAt|date('d/m/Y') }}</li>
                                                        <li><i class="icon-clock"></i> {{ response.createdAt|date('H:i:s') }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="response-msg">{{ response.content }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-add-new-msg">
                        <div class="row">
                            <div class="col-md-12">
                            {{ form_start(form) }}
                            <div class="field-message">
                                {{ form_widget(form) }}
                            </div>
                            <div class="g-recaptcha"
                                 data-sitekey="{{ recaptcha_site_key }}"
                                 data-callback="onSubmitMessage"
                                 data-size="invisible">
                            </div>
                            <button type="submit" class="btn btn-bg-red btn-h50 btn-w15">
                                {% trans %}Reply{% endtrans %}
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmitMessage(token) {
            $('#message-response-form').submit();
        }
    </script>
{% endblock %}