{% extends 'base-no-header.html.twig' %}

{% trans_default_domain 'page' %}

{% block meta %}
    <meta name="title" content="{{ page.metaTitle }}">
    <meta name="description" content="{{ page.metaDescription }}">
    <meta name="keywords" content="{{ page.metaTags }}">
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/cms/css/style.css') }}">
{% endblock %}

{% block body %}

    {% include 'partials/header.html.twig' %}
    {% if page.uploadBannerDesktop %}
        {% set banner = vich_uploader_asset(page, 'uploadBannerDesktop') %}
    {% else %}
        {% set banner = asset('assets/img/Banner.png') %}
    {% endif %}
    <div class="cms-header-banner" style="background: #fff url({{ banner }}); ">

        {# <img src="{{ banner }}" class="img-responsive w-100" alt=""> #}
        <div class="cms-banner-content">
            <div class="">
                <h1>{{ page.title }}</h1>
                {{ page.contentBanner|raw }}
            </div>
        </div>
    </div><!-- /.jumbotron -->

    <body id="{{ page.htmlIdAttr }}" class="{{ page.htmlClassAttr }}">

    <div class="container-section-block">
        {% for key,row in blocks %}
            <div class="container-section">
                <div class="container">
                    <div class="row {{ rows[key].class }} item-content" id="{{ rows[key].idHTml }}">
                        {% for block in row %}
                            <div class="col-lg-{{block.colLarge}} col-md-12 content">
                                {#{% if block.title is not empty %}
                                    <h3>{{ block.title }}</h3>
                                {% endif %}#}
                                {% if block.type == 'image' %}
                                    {% if block.imageName is not empty %}
                                        {% set img = vich_uploader_asset(block, 'uploadImage') %}
                                    {% else %}
                                        {% set img = asset('assets/img/block-875x500.png') %}
                                    {% endif %}
                                    {% if block.linkImage is not empty %}
                                        <a href="{{ block.linkImage }}">
                                            <img src="{{ img }}" class="img-responsive" alt="{{ block.alt }}">
                                        </a>
                                    {% else %}
                                        <img src="{{ img }}" class="img-responsive" alt="{{ block.alt }}">
                                    {% endif %}
                                    {% if block.legend is not empty %}
                                        <em>{{ block.legend }}</em>
                                    {% endif %}
                                    {% if block.textImage is not empty %}
                                        {{ block.textImage|raw }}
                                    {% endif %}
                                {% elseif block.type == 'text' %}
                                    {{ block.content|raw }}
                                {% elseif block.type == 'video' %}
                                    <iframe width="{{ block.width }}" height="{{ block.height }}"
                                            src="//www.youtube.com/embed/{{ block.idVideo }}?controls=0&showinfo=0"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                {% endif %}
                            </div>
                            {% if block.clearfix %}
                                <div class="w-100"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include '@CMS/front/page/modal.html.twig' %}

    {% include 'partials/footer.html.twig' %}
    </body>
{% endblock %}

{% block javascripts %}
    <script>
        $('a.open-modal').click(function (e) {
            e.preventDefault();
        })
    </script>
{% endblock %}
