{% extends 'base-no-header.html.twig' %}

{% trans_default_domain 'page' %}

{% block meta %}
    <meta name="title" content="{{ page.metaTitle }}">
    <meta name="description" content="{{ page.metaDescription }}">
    <meta name="keywords" content="{{ page.metaTags }}">

    <meta property="og:title" content="{{ page.metaTitle }}">
    <meta property="og:description" content="{{ page.metaDescription }}">
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ "/upload/cms/pages-public/" ~ page.bannerDesktop }}" />

    <meta name="twitter:title" content="{{ page.metaTitle }}" />
    <meta name="twitter:description" content="{{ page.metaDescription }}" />
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ "/upload/cms/pages-public/" ~ page.bannerDesktop }}" />
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('bundles/cms/css/style.css') }}">
{% endblock %}

{% block body %}

   <body id="{{ page.htmlIdAttr }}" class="page page-simple {{ page.htmlClassAttr }}">

   {% include 'partials/header.html.twig' %}

   <div class="article-detail">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h2 class="c-heading">{{ page.title }}</h2>
               <div class="addthis_inline_share_toolbox mb-3"></div>
               {% if page.bannerDesktop is not empty %}
                  {% set cover = "/upload/cms/pages-public/" ~ page.bannerDesktop %}
               {% else %}
                  {% set cover = asset('assets/img/Banner.png') %}
               {% endif %}
               <div class="row banner-actus mb-5">
                  <img src="{{ cover }}" alt="" class="img-responsive">
               </div>
            </div>
         </div>


         {% for key,row in blocks %}
            <div class="row {{ rows[key].class }}" id="{{ rows[key].idHTml }}">
               {% for block in row %}
                  <div class="col-md-{{block.colLarge}} col-sm-12 my-4">
                      {#{% if block.title is not empty %}
                          <h3>{{ block.title }}</h3>
                      {% endif %}#}
                     {% if block.type == 'image' %}
                        {% if block.imageName is not empty %}
                           {% set img = "/upload/cms/pages-public/blocks/" ~ block.imageName %}
                        {% else %}
                           {% set img = asset('assets/img/block-875x500.png') %}
                        {% endif %}
                        {% if block.linkImage is not empty %}
                           <a href="{{ block.linkImage }}">
                              <img src="{{ img }}" class="img-responsive" alt="{{ block.alt }}">
                           </a>
                        {% else %}
                           <img src="{{ img }}" class="img-responsive" alt="{{ block.alt }}">
                        {% endif %}
                         {% if block.legend is not empty %}
                             <em>{{ block.legend }}</em>
                         {% endif %}
                         {% if block.textImage is not empty %}
                             {{ block.textImage|raw }}
                         {% endif %}
                     {% elseif block.type == 'text' %}
                        {{ block.content|raw }}
                     {% elseif block.type == 'video' %}
                        <div class="video-content">
                           <iframe width="{{ block.width }}" height="{{ block.height }}"
                                   src="//www.youtube.com/embed/{{ block.idVideo }}?controls=0&showinfo=0"
                                   frameborder="0"
                                   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                   allowfullscreen></iframe>
                        </div>
                        <!-- style="overflow:hidden;height:{ block.height }px;width:100%" -->
                     {% endif %}
                  </div>
                  {% if block.clearfix %}
                      <div class="w-100"></div>
                  {% endif %}
               {% endfor %}
            </div>
         {% endfor %}
      </div>
   </div>

   {% include '@CMS/front/page/modal.html.twig' %}

   {% include 'partials/footer.html.twig' %}

   </body>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/bundle.js') }}"></script>
    <script src="{{ asset('bundles/cms/js/offer-request.js') }}"></script>
    {% set block = app.request.get('block') %}
    {% if block is not empty %}
        <script>
            if ($("#{{ block }}").length) {
                $('html,body').animate({
                    scrollTop: $("#{{ block }}").offset().top
                },1000);
            }
        </script>
    {% endif %}
{% endblock %}