{% extends 'base.html.twig' %}

{% trans_default_domain 'startuper' %}

{% block title %}{% trans %}Password{% endtrans %}{% endblock %}

{% block body %}
   <div class="edit-password">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8 col-md-10">
            <div class="card">
               <div class="card-header">
                  <h3 class="h3 font-weight-normal">
                     <i class="fas fa-edit mr-3"></i> {% trans %}Password{% endtrans %}
                  </h3>
               </div>
               <div class="card-body">
                  <p class="text-center">
                     {% trans %}formChangePassword.help{% endtrans %}
                  </p>
                  <hr>
                  {{ form_start(form) }}
                  {{ form_row(form.currentPassword) }}
                  {{ form_row(form.newPassword) }}
                  {{ form_row(form.confirmPassword) }}
                  <div class="g-recaptcha"
                       data-sitekey="{{ recaptcha_site_key }}"
                       data-callback="onSubmitMessage"
                       data-size="invisible">
                  </div>
                  <button class="btn btn-bg-red btn-h50 btn-w25" type="submit">
{#                     <i class="icon-correct-symbol"></i> #}
                     {% trans %}Update password{% endtrans %}
                  </button>
                  {{ form_end(form) }}
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
{% endblock %}

{% block javascripts %}
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <script>
      function onSubmitMessage(token) {
         $('#change-password-form').submit();
      }
   </script>
{% endblock %}