{% extends 'bundles/SonataAdmin/standard_layout.html.twig' %}

{% trans_default_domain 'company' %}

{% block sonata_admin_content %}

   {% block notice %}
      {% include '@SonataCore/FlashMessage/render.html.twig' %}
   {% endblock notice %}

   {% include 'administration/company/_head.html.twig' %}

   <div class="row">
      <div class="col-md-6">
         <div class="box">
            <div class="box-header">
               <h3>{% trans %}Statistics{% endtrans %}</h3>
            </div>
            {% if approvedCompany %}
               {% set percentage = approvedCompany.percentageOfContribution %}
               {% set fundingObjective = approvedCompany.fundingObjective %}
            {% else %}
               {% set percentage = company.percentageOfContribution %}
               {% set fundingObjective = company.fundingObjective %}
            {% endif %}
            <div class="box-body">
               {{ percentage }}
               <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{ percentage }}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
            </div>
            <div class="box-body">
               <label for="">{{ 'form.totalAmount.label'|trans }}</label>
               <div class="view-project">
                  {{ company.amountCollected|number_format(2, ',', ' ') }} MAD
               </div>
               <label for="">{{ 'form.fundingObjective.label'|trans }}</label>
               <div class="view-project">
                  {{ fundingObjective|number_format(2, ',', ' ') }} MAD
               </div>
               {% if approvedCompany and approvedCompany.fundingObjective != company.fundingObjective %}
                  <span class="text-danger">
                     {{ 'The funding objective was changed'|trans }}
                     <strong>{{ company.fundingObjective|number_format(2, ',', ' ') }} MAD</strong>
                  </span>
               {% endif %}
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
               <h2>
                  {{ company.contributors|length }}
                  {% if company.contributors|length > 1 %}
                     {% trans %}contributors{% endtrans %}
                  {% else %}
                     {% trans %}contributor{% endtrans %}
                  {% endif %}
               </h2>
               <table class="table table-hover">
                  <thead>
                  <tr>
                     <th>{{ 'form.firstName.label'|trans }}</th>
                     <th>{{ 'form.lastName.label'|trans }}</th>
                     <th>{{ 'form.email.label'|trans }}</th>
                     <th>{{ 'form.contributionAmount.labelBo'|trans }}</th>
                     <th>{{ 'form.contributionDate.label'|trans }}</th>
                     <th>{{ 'form.status.label'|trans }}</th>
                     <th>{{ 'form.action.label'|trans }}</th>
                  </tr>
                  </thead>
                  <tbody>
                     {% for contributor in company.contributors %}
                        <tr>
                           <td>{{ contributor.firstName }}</td>
                           <td>{{ contributor.lastName }}</td>
                           <td>{{ contributor.email }}</td>
                           <td align="right">
                               {{ contributor.contributionAmount|number_format(2, ',', ' ') }} MAD
                           </td>
                           <td>{{ contributor.createdAt|date('d/m/Y H:i') }}</td>
                           <td>{{ contributor.status|trans }}</td>
                           <td>
                              <a href="{{ path('sonata_admin_contributor_show', {id: contributor.id}) }}" class="btn btn-default">
                                 <i class="fa fa-eye"></i> {{ 'Show'|trans }}
                              </a>
                           </td>
                        </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
